#!/bin/bash

# Needed for building ffi gem native extensions, linking to homebrew libffi
export LDFLAGS="-L/opt/homebrew/opt/libffi/lib"
export PKG_CONFIG_PATH="/opt/homebrew/opt/libffi/lib/pkgconfig"
